
<%-include("partials/header")-%>

<h1>To Delete a post:</h1>
<h3>Enter title of the post</h3>

<form action="/delete" method="post">
    <div class="form-group">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title Name:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter title name of the post" name="deleteTitle" autocomplete="off">
          </div>
          <br>
        <button type="submit" name="delete" class="btn btn-primary">Delete</button>    
    </div>
</form>



<%-include("partials/footer")-%>